.about{
    background-color: burlywood
}

.bg-primary{
    /* height: 1200px !important; */
}

hr.star-light:after, hr.star-dark:after{
    opacity: 0;
}
.text-center{
    text-align: center;
    color: white;
    font-weight: 700
}

.glyphicon-earphone:before {
    content: "\e182";
}

.skillset{
    background-color: white
}
.portfolio{
    background-color: #4BABC9
}
.nav-link .py-3 .px-0 .px-lg-3 .rounded .js-scroll-trigger >.active{
    background-color: coral !important;
}

/* @media (min-width: 992px) */
.mainNav .navbar-nav>li.nav-item>a.nav-link.active{
    background-color: coral !important;
}
.myown:hover{
    color:rgb(73, 161, 196) !important
}
.myown.active{
    background-color: rgb(23, 127, 187)!important;
}

.image{
    margin: auto
}